@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

h1 {
    font-weight: 100;
}

body {
    background-color: #817790;
    color: #333;
    font-family: Lato,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    text-align: center;
    vertical-align: center;
    margin-bottom: 100px;
}

.topnav {
    background-color: #817790;
    align-content: center;
    vertical-align: center;
    margin-bottom: 25px;
}

.topnav a {
    float: center;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 14px;
    color: #333;
}

.topnav a:hover {
    background-color: #333;
    color: #CCC;
}

.social a {
    border: none;
    text-decoration: none;
}

.social a i {
    margin: 10px;
    font-size: 40px;
    color: #FFFFFFBB;
}

.social a img {
    margin: 10px;
    width: 20px;
    height: auto;
    fill: #FFFFFFBB;
}

.avatar {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: -0px 20px 40px #00000044;
    margin-bottom: 70px;
}

footer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    bottom: -45px;
    position: fixed;
    margin: 0 auto 0 auto;
}

.footer {
    height: 90px;
    width: 250px;
    max-width: 80%;
    min-width: 25%;
    margin: 0 auto 0 auto;
    z-index: 30;
    background-image: linear-gradient(#81779088, #817790);
    border-radius: 40px;
}

.footer > p {
    margin: 0 0;
}

#episodes iframe {
    max-width: 90%;
    min-width: 50%;
    box-shadow: -0px 0px 90px #00000044;
    border-radius: 20px;
}

#soundcloud {
    margin-bottom: 50px;
}

#spotify {
    
}

#contact {
    margin-top: 50px;
}

input, textarea, button {
    font: inherit;
    margin: 5px 5px;
    border: none;
    background-color: #FFFFFF44;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -0px 0px 30px #00000022;
}

#voicemail {
    margin-bottom: 450px;
}

form {
    text-align: left;
    width: 300px;
    max-width: 60%;
    min-width: 30%;
    margin: 0 auto;
}

#recordButtons {
    display: inline-flex;
}

#recordButtons > button, audio {
    width: 300px;
    max-width: 60%;
    min-width: 30%;
}

.g-recaptcha > div {
    margin: 0 auto;
    text-align: center;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > h3 {
    text-align: center;
}

button {
    padding: 5px 30px;
}
